%ul.social-networks-content-block
  - if facebook.present?
    %li.social-networks-content-block__item
      = link_to facebook, class: 'social-networks-content-block__button' do
        = inline_svg('workarea/storefront/icons/facebook.svg', class: 'social-networks-content-block__icon')
  - if twitter.present?
    %li.social-networks-content-block__item
      = link_to twitter, class: 'social-networks-content-block__button' do
        = inline_svg('workarea/storefront/icons/twitter.svg', class: 'social-networks-content-block__icon')
  - if google_plus.present?
    %li.social-networks-content-block__item
      = link_to google_plus, class: 'social-networks-content-block__button' do
        = inline_svg('workarea/storefront/icons/google_plus.svg', class: 'social-networks-content-block__icon')
  - if pinterest.present?
    %li.social-networks-content-block__item
      = link_to pinterest, class: 'social-networks-content-block__button' do
        = inline_svg('workarea/storefront/icons/pinterest.svg', class: 'social-networks-content-block__icon')
