.checkout-step-summary
  .checkout-step-summary__items
    %h6.checkout-step-summary__heading= t('workarea.storefront.checkouts.summary.products')

    %ul.product-list.product-list--narrow
      - cart.items.each_with_index do |item, index|
        %li.product-list__item
          .product-list__summary
            .product-list__media= link_to image_tag(product_image_url(item.image, :small_thumb), alt: item.product_name, class: 'product-list__media-image'), product_url(item.product, sku: item.sku), class: 'product-list__media-link'

            .product-list__info
              %p.product-list__name= link_to item.product_name, product_path(item.product, sku: item.sku)
              - if item.has_options?
                .product-list__option-group
                  - item.details.each do |name, value|
                    %p.product-list__option #{name.titleize}: #{value}
              - item.customizations.each do |name, value|
                %p.product-list__customization #{name.titleize}: #{value}
              = append_partials('storefront.cart_item_details', item: item, index: index)
          .product-list__prices
            = render 'workarea/storefront/carts/pricing', item: item, css_block: 'product-prices'
            - if item.total_adjustments.many?
              .product-prices__discounts
                - item.total_adjustments.drop(1).each do |adjustment|
                  .product-prices__discount
                    - if item.total_adjustments.many?
                      %span.product-prices__label= adjustment.description

                    - if adjustment.discount?
                      %strong.product-prices__discount-price= number_to_currency(adjustment.amount)
                    - else
                      .product-list__total-price
                        %span= number_to_currency(adjustment.amount)

                .product-list__total-price
                  %span.product-prices__label= t('workarea.storefront.orders.item_total')
                  %span= number_to_currency(item.total_price)
          .product-list__actions
            %p.product-list__quantity
              %span.product-list__quantity-text= t('workarea.storefront.orders.item_quantity')
              = item.quantity

      - cart.free_gifts.each_with_index do |item, index|
        %li.order-item
          %p.order-item__media= link_to image_tag(product_image_url(item.image, :small_thumb), alt: item.product_name, class: 'order-item__media-image'), product_url(item.product, sku: item.sku), class: 'order-item__media-link'

          .order-item__info
            %p.order-item__name= link_to item.product_name, product_path(item.product, sku: item.sku)
            - if item.has_options?
              .order-item__option-group
                - item.details.each do |name, value|
                  %p.order-item__option #{name.titleize}: #{value}
            - item.customizations.each do |name, value|
              %p.order-item__customization #{name.titleize}: #{value}
            = append_partials('storefront.cart_item_details', item: item, index: index)
            .order-item__prices
              %p.order-item__quantity
                %span.order-item__quantity-text= t('workarea.storefront.orders.item_quantity')
                = item.quantity
              .order-item__price
                = t('workarea.storefront.carts.free_gift')

  .checkout-step-summary__totals
    %h6.checkout-step-summary__heading= t('workarea.storefront.checkouts.totals')
    %table.table.table--totals
      %tbody
        %tr
          %th
            %span= t('workarea.storefront.orders.subtotal')
          %td= number_to_currency(cart.subtotal_price)
        - if cart.total_adjustments.any?
          - cart.total_adjustments.each do |adjustment|
            %tr
              %th
                %span= adjustment.description
              %td
                - if adjustment.discount?
                  %strong= number_to_currency(adjustment.amount)
                - else
                  %span= number_to_currency(adjustment.amount)

        %tr
          %th
            %span= t('workarea.storefront.orders.shipping')
          %td
            - if !cart.requires_shipping?
              = t('workarea.storefront.checkouts.not_applicable')
            - elsif !summary.shipping_determined?
              = t('workarea.storefront.checkouts.to_be_determined')
            - else
              = number_to_currency(cart.shipping_total)

        %tr
          %th
            %span= t('workarea.storefront.orders.tax')
          %td
            - if summary.taxes_determined?
              = number_to_currency(cart.tax_total)
            - else
              = t('workarea.storefront.checkouts.to_be_determined')

        - if summary.store_credit?
          %tr
            %th
              %span= t('workarea.storefront.orders.store_credit')
            %td
              %strong.table__price-discount −#{number_to_currency(summary.store_credit_amount)}

        = append_partials('storefront.checkout_summary_payment', summary: summary)

        %tr.table__total
          %th
            %span= t('workarea.storefront.orders.total')
          %td= number_to_currency(summary.order_balance)

  - unless @checkout_step == 'payment'
    .checkout-step-summary__promo-code
      = optional_field(t('workarea.storefront.carts.enter_promo_code_prompt'), params[:promo_code]) do
        %h2.checkout-step-summary__promo-code-heading= t('workarea.storefront.orders.promo_code')
        = form_tag add_promo_code_to_cart_path, id: 'promo_code_form', class: 'inline-form', method: 'post' do
          .value.value--block
            = text_field_tag :promo_code, params[:promo_code], class: 'text-box', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', required: true, placeholder: t('workarea.storefront.orders.promo_code'), title: t('workarea.storefront.orders.promo_code')
            .value__button= button_tag t('workarea.storefront.carts.add'), value: 'add_promo_code', class: 'button button--small'

  .checkout-step-summary__step

    - if summary.show_addresses?
      %h2.checkout-step-summary__step-heading= t('workarea.storefront.checkouts.addresses')

      .checkout-step-summary__section
        %h3.checkout-step-summary__section-heading= t('workarea.storefront.checkouts.email')
        %p.checkout-step-summary__section-content= summary.email

        - unless current_page?(checkout_addresses_path)
          %p.checkout-step-summary__section-action= link_to t('workarea.storefront.forms.edit'), checkout_addresses_path, class: 'button button--small', data: { analytics: checkout_edit_analytics_data('addresses') }

      - if summary.show_shipping_address?
        .checkout-step-summary__section
          %h3.checkout-step-summary__section-heading= t('workarea.storefront.checkouts.shipping_address')
          %p.checkout-step-summary__section-content= formatted_address(summary.shipping_address)

          - unless current_page?(checkout_addresses_path)
            %p.checkout-step-summary__section-action= link_to t('workarea.storefront.forms.edit'), checkout_addresses_path, class: 'button button--small', data: { analytics: checkout_edit_analytics_data('addresses') }

      .checkout-step-summary__section
        %h3.checkout-step-summary__section-heading= t('workarea.storefront.checkouts.billing_address')
        %p.checkout-step-summary__section-content= formatted_address(summary.billing_address)

        - unless current_page?(checkout_addresses_path)
          %p.checkout-step-summary__section-action= link_to t('workarea.storefront.forms.edit'), checkout_addresses_path, class: 'button button--small', data: { analytics: checkout_edit_analytics_data('addresses') }

    = append_partials('storefront.checkout_summary_addresses', summary: summary)

  .checkout-step-summary__step.checkout-step-summary__step--hidden-for-small

    - if summary.show_shipping_options?
      %h2.checkout-step-summary__step-heading= t('workarea.storefront.checkouts.shipping_options')

      - summary.shippings.each_with_index do |shipping, index|
        - if shipping.show_options?
          .checkout-step-summary__section
            %h3.checkout-step-summary__section-heading
              - if shipping.partial?
                = t('workarea.storefront.checkouts.shipping_service_with_index', index: index + 1)
              - else
                = t('workarea.storefront.checkouts.shipping_service')
            %p.checkout-step-summary__section-content #{shipping.shipping_service.name} - #{number_to_currency(shipping.shipping_total)}

            - unless checkout_shipping_path == request.original_fullpath
              %p.checkout-step-summary__section-action= link_to t('workarea.storefront.forms.edit'), checkout_shipping_path, class: 'button button--small', data: { analytics: checkout_edit_analytics_data('shipping') }

          = append_partials('storefront.checkout_summary_shipping_attributes', summary: summary, shipping: shipping, index: index)


    = append_partials('storefront.checkout_summary_shipping', summary: summary)
