- @title = t('workarea.storefront.carts.title')

.cart.view{ class: ('cart--empty' if @cart.no_items?) ,data: { analytics: cart_view_analytics_data(@cart).to_json } }

  - if @cart.no_items?

    %h1.cart__heading= t('workarea.storefront.carts.empty')

    - if @cart.content_blocks_for('empty').present?
      .page-header__promo
        = render_content_blocks(@cart.content_blocks_for('empty'))

    %p.cart__continue-shopping
      = link_to t('workarea.storefront.carts.continue_shopping'), root_path, class: 'button'

  - else

    .grid.grid--top.grid--large
      .grid__cell.grid__cell--66-at-medium

        - if @cart.content_blocks_for('with_items').present?
          .page-header__promo
            = render_content_blocks(@cart.content_blocks_for('with_items'))

        %h1.cart__heading
          = t('workarea.storefront.carts.title')
          %span.cart__item-count= t('workarea.storefront.carts.item_count', count: @cart.items.count)

        %ul.product-list{ data: { analytics: product_list_analytics_data('Cart').to_json } }
          - @cart.items.each_with_index do |item, index|
            %li.product-list__item
              .product-list__summary
                .product-list__media= link_to image_tag(product_image_url(item.image, :small_thumb), alt: item.product_name, class: 'product-list__media-image'), product_url(item.product, sku: item.sku), class: 'product-list__media-link'
                .product-list__info
                  %p.product-list__name= link_to item.product_name, product_path(item.product, sku: item.sku)
                  - if item.has_options?
                    .product-list__option-group
                      - item.details.each do |name, value|
                        %p.product-list__option #{name.titleize}: #{value}
                  - item.customizations.each do |name, value|
                    %p.product-list__customization #{name.titleize}: #{value}
                  = append_partials('storefront.cart_item_details', item: item, index: index)
              .product-list__actions
                = form_tag cart_item_path(item), method: :patch, class: 'inline-form', data: { analytics: update_cart_item_analytics_data(item).to_json } do
                  .inline-form__cell

                    .quantity-control
                      = button_tag '-', { type: 'button', data: { quantity_control: { 'direction': 'dec', 'autosubmit': true }.to_json }, class: 'quantity-control__button quantity-control__button--decrement'}
                      .value= number_field_tag :quantity, item.quantity, min: 1, required: true, class: 'quantity-control__input text-box text-box--x-small', data: { form_submitting_control: '' }, title: t('workarea.storefront.orders.quantity'), id: "quantity_#{index}"
                      = button_tag '+', { type: 'button', data: { quantity_control: { 'direction': 'inc', 'autosubmit': true }.to_json }, class: 'quantity-control__button quantity-control__button--increment'}

                  %p.inline-form__cell.hidden-if-js-enabled= button_tag t('workarea.storefront.carts.update'), value: 'change_quantity', class: 'button'

                = form_tag cart_item_path(item), method: 'delete', class: 'product-list__remove-item', data: { analytics: remove_from_cart_analytics_data(item).to_json } do
                  %p= button_tag t('workarea.storefront.carts.remove'), value: 'remove_item', class: 'text-button'

                = append_partials('storefront.cart_item_actions', item: item)

              .product-list__prices
                .product-prices
                  = render 'workarea/storefront/carts/pricing', item: item, css_block: 'product-prices'
                  - if item.total_adjustments.many?
                    .product-prices__discounts
                      - item.total_adjustments.drop(1).each do |adjustment|
                        .product-prices__discount
                          - if item.total_adjustments.many?
                            %span.product-prices__label= adjustment.description.titleize

                          - if adjustment.discount?
                            %strong.product-prices__discount-price= number_to_currency(adjustment.amount)
                          - else
                            .product-list__total-price
                              %span= number_to_currency(adjustment.amount)

                    .product-list__total-price
                      %span.product-prices__label= t('workarea.storefront.orders.item_total')
                      %span= number_to_currency(item.total_price)

          - @cart.free_gifts.each do |item|
            %li.product-list__item
              .product-list__summary
                .product-list__media= link_to image_tag(product_image_url(item.image, :small_thumb), alt: item.product_name, class: 'product-list__media-image'), product_url(item.product, sku: item.sku), class: 'product-list__media-link'
                .product-list__info
                  %p.product-list__name= link_to item.product_name, product_path(item.product, sku: item.sku)
              .product-list__actions
                %p.product-list__quantity
                  = t('workarea.storefront.orders.quantity')
                  = item.quantity

              .product-list__prices
                .product-prices
                  .product-prices__price
                    %span= t('workarea.storefront.carts.free_gift')

        = append_partials('storefront.cart_additional_information', cart: @cart)

        %p.cart__checkout-action= link_to t('workarea.storefront.carts.checkout'), checkout_path, class: 'button button--large button--full'
        = append_partials('storefront.cart_checkout_actions', cart: @cart)

      .grid__cell.grid__cell--33-at-medium
        .cart__aside

          %h3.cart__aside-heading= t('workarea.storefront.carts.totals')
          %table.table.table--totals
            %tbody
              %tr
                %th
                  %span= t('workarea.storefront.orders.subtotal')
                %td= number_to_currency @cart.subtotal_price
              - @cart.total_adjustments.each do |adjustment|
                %tr
                  %th
                    %span= adjustment.description.titleize
                  %td
                    - if adjustment.discount?
                      %strong= number_to_currency(adjustment.amount)
                    - else
                      %span= number_to_currency(adjustment.amount)
              - if @cart.requires_shipping?
                %tr
                  %th
                    %span= t('workarea.storefront.orders.shipping')
                  %td
                    - if @cart.show_shipping_services?
                      #{@cart.shipping_service} - #{number_to_currency(@cart.shipping_total)}
                    - else
                      = t('workarea.storefront.carts.calculated_at_checkout')
                %tr
                  %td{ colspan: 2 }
                    %p.cart__discount-messaging
                      = render "workarea/storefront/carts/shipping_message", cart: @cart
              %tr
                %th
                  %span= t('workarea.storefront.orders.tax')
                %td
                  - if @cart.show_taxes?
                    = number_to_currency @cart.tax_total
                  - else
                    = t('workarea.storefront.carts.calculated_at_checkout')
              %tr.table__total
                %th
                  %span= t('workarea.storefront.orders.total')
                %td= number_to_currency(@cart.total_price)

          = optional_field(t('workarea.storefront.carts.enter_promo_code_prompt'), params[:promo_code]) do
            .cart__promo-code
              %h2.cart__promo-code-heading= t('workarea.storefront.orders.promo_code')
              = form_tag add_promo_code_to_cart_path, id: 'promo_code_form', method: 'post', class: 'inline-form' do
                .value.value--block
                  = text_field_tag :promo_code, params[:promo_code], class: 'text-box', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', required: true, title: t('workarea.storefront.orders.promo_code')
                  .value__button= button_tag t('workarea.storefront.carts.add'), value: 'add_promo_code', class: 'button button--small'

          .cart__checkout-action-group
            %p.cart__checkout-action= link_to t('workarea.storefront.carts.checkout'), checkout_path, class: 'button button--large button--full'
            = append_partials('storefront.cart_checkout_actions', cart: @cart)

  = append_partials('storefront.cart_show', cart: @cart)

- cache @cart.cache_key, expires_in: 3.hours do
  .recommendations.recommendations--full-bleed
    - if @cart.recommendations.any?
      .content-wrapper
        %h2.recommendations__heading= t('workarea.storefront.recommendations.heading')

        .grid
          - @cart.recommendations.each do |product|
            .grid__cell.grid__cell--50.grid__cell--25-at-medium
              .product-summary.product-summary--small{ itemscope: true, itemtype: 'http://schema.org/Product' }
                = render 'workarea/storefront/products/summary', product: product

- if @cart.quantity.zero?
  %div{ data: { recommendations_placeholder: recommendations_path } }
