.product-media.product-media--carousel
  .product-media__container
    - if product.images.length == 0
      .product-details__primary-image
        = link_to(product_image_url(product.primary_image, :zoom), target: '_blank', rel: 'noopener', class: 'product-details__primary-image-link') do
          = image_tag product_image_url(product.primary_image, :detail), alt: 'View Larger Image', itemprop: 'image', class: 'product-details__primary-image-link-image'

    - else
      %ul.product-media__primary-image{ id: "#{product.id}_primary_media_carousel", data: { slick_slider: media_primary_image_slider_options(product.id) } }
        - product.images.each_with_index do |image, index|
          %li.product-media__primary-image-item
            = link_to(product_image_url(image, :zoom), target: '_blank', rel: 'noopener', class: 'product-media__primary-image-link') do
              %picture
                %source{ srcset: product_image_url(image, :detail), product_image_url(image, :detail) => '1x', product_image_url(image, :detail_retina) => '2x', media: "(min-width: #{Workarea.config.storefront_break_points[:medium]}px)" }
                %source{ srcset: product_image_url(image, :detail_mobile), product_image_url(image, :detail_mobile) => '1x', product_image_url(image, :detail) => '2x' }
                = image_tag product_image_url(image, :detail), alt: t('workarea.storefront.products.image_alt_attribute', name: product.name), itemprop: 'image', class: 'product-media__primary-image-link-image'

      - if product.images.length > 1
        %ul.product-media__alt-images{ id: "#{product.id}_alt_media_carousel", data: { slick_slider: media_alt_image_slider_options(product.id) } }
          - product.images.each_with_index do |image, index|
            %li.product-media__alt-image
              - button_class = index == 0 ? 'product-media__alt-image-link product-media__alt-image-link--selected' : 'product-media__alt-image-link'
              = link_to(product_image_url(image, :zoom), class: button_class, target: '_blank', rel: 'noopener', data: { alternate_image_button: { src: product_image_url(image, :detail) }.to_json }) do
                = image_tag product_image_url(image, :detail_alt), alt: t('workarea.storefront.products.zoom')
          = append_partials('storefront.product_details_alt_images', product: product)

      - else
        - if product.thumbnail_videos?
          %ul.product-media__alt-images{ id: "#{product.id}_alt_media_carousel" }
            = append_partials('storefront.product_details_alt_images', product: product)
